
@using Meridian_Web.Areas.Client.ViewModels.Authentication;
@model ChangePasswordViewModel
<div class="container">
    <h2 style="text-align: center;
			margin-bottom: 20px;">
        Change Password
    </h2>
	<div class="text-danger" asp-validation-summary="ModelOnly"></div>
	<form method ="Post" asp-route="client-auth-changePassword">
		<div style="display:none;">

        <label style="display: block;
			margin-bottom: 5px;
			font-weight: bold;" for="current-password">Current Password</label>
        <input asp-for="Token" readonly style="display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			box-sizing: border-box;"  id="current-password">
		<span asp-validation-for="Token" class="text-danger"></span>
		</div>

        <label style="display: block;
			margin-bottom: 5px;
			font-weight: bold;" for="new-password">New Password</label>
        <input asp-for="Password" style="display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			box-sizing: border-box;"  id="new-password" >
		<span asp-validation-for="Password" class="text-danger"></span>

        <label style="display: block;
			margin-bottom: 5px;
			font-weight: bold;" for="confirm-password">Confirm New Password</label>
        <input asp-for="ConfirmPassword" style="display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			box-sizing: border-box;" id="confirm-password" >
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <input style="background-color: #4CAF50;
			color: #fff;
			cursor: pointer;
display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			box-sizing: border-box;" type="submit" value="Change Password">
    </form>
</div>