@using Meridian_Web.Areas.Client.ViewModels.Authentication
@model ForgetPasswordViewModel


<div style="max-width: 400px;
		margin: 0 auto;
		text-align: center;" class="container">
	<h2 style="margin-top: 50px;" class="title">Forgot Password</h2>
	<form class="form" method="post" asp-route="client-auth-forgetPassword>
		<label class="label" for="email">Email:</label>
		<input style="padding: 10px;
		margin-bottom: 20px;
		border-radius: 5px;
		border: 1px solid #ccc;" asp-for="Email" class="input" type="email" required>
		<button style="background-color: #4CAF50;
		color: white;
		padding: 10px;
		border-radius: 5px;
		border: none;
		cursor: pointer;" class="button" type="submit">
			Submit
		</button>
	</form>
</div>
