@using Meridian_Web.Areas.Admin.ViewModels.Navbar
@model UpdateViewModel
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description"> Add New Navbar </p>
            <form class="forms-sample" method="POST" asp-route="admin-navbar-update">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order"></label>
                    <input asp-for="Order" class="form-control" placeholder="Order">
                    <span asp-validation-for="Order" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Url"></label>
                    <input asp-for="Url" class="form-control" placeholder="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label asp-for="IsShowHeader" class="form-check-label">
                        <input asp-for="IsShowHeader" type="checkbox" class="form-check-input"> Show Header
                    </label>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label asp-for="IsShowFooter" class="form-check-label">
                        <input asp-for="IsShowFooter" type="checkbox" class="form-check-input"> Show Footer
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>

            </form>
        </div>
    </div>
</div>
