@using Meridian_Web.Areas.Client.ViewModels.Comment;
@model CommentViewModel
<div class="respond__group">
    <div class="u-s-m-b-15">

        <label class="gl-label" for="comment">COMMENT *</label><textarea asp-for="Context" class="text-area text-area--primary-style" id="comment"></textarea>
    </div>
    <div>
        <p class="u-s-m-b-30">

            <label class="gl-label" for="responder-name">NAME *</label>

            <input asp-for="Name" class="input-text input-text--primary-style" type="text" id="responder-name">
        </p>
        <p class="u-s-m-b-30">

            <label class="gl-label" for="responder-email">EMAIL *</label>

            <input asp-for="Email" class="input-text input-text--primary-style" type="text" id="responder-email">
        </p>
    </div>
</div>
<div>

    <button class="btn btn--e-brand-shadow" type="submit">POST COMMENT</button>
</div>