<span class="js-menu-toggle"></span>
<ul style="width:120px">
    <li>

       
    </li>
    <li>

       
    </li>
    <li>

        <a>FRANCAIS</a>
    </li>
    <li>

        <a>ESPANOL</a>
    </li>
</ul>