@using Meridian_Web.Areas.Client.ViewModels.Account;
@model AdressListItemViewModel
<div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
    <div class="dash__pad-2">
        <div class="dash__address-header">
            <h1 class="dash__h1">Address Book</h1>
            <div>

                <span class="dash__link dash__link--black u-s-m-r-8">

                    <a href="dash-address-make-default.html">Make default shipping address</a>
                </span>

                <span class="dash__link dash__link--black">

                    <a href="dash-address-make-default.html">Make default shipping address</a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
    <div class="dash__table-2-wrap gl-scroll">
        <table class="dash__table-2">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>City</th>
                    
                </tr>
            </thead>
            <tbody>
             
                <tr>
                    <td>

                        <a class="address-book-edit btn--e-transparent-platinum-b-2" href="dash-address-edit.html">Edit</a>
                    </td>
                    <td>@Model.User</td>
                    <td>@Model.Adress</td>
                    <td>@Model.City</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>

    <a class="dash__custom-link btn--e-brand-b-2" asp-route="client-account-edit-address">
        <i class="fas fa-plus u-s-m-r-8"></i>

        <span>Add OR Edit Address</span>
    </a>
</div>
