@using Meridian_Web.Areas.Client.ViewModels.Home;
@model HomeViewModel


@foreach (var product in Model.Product)
{

    <div class="u-s-m-b-30">
        <div class="product-o product-o--hover-on">
            <div class="product-o__wrap">

                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                    <img class="aspect__img" src="~/@product.ImageUrl" alt="">
                </a>
                <div class="product-o__action-wrap">
                    <ul class="product-o__action-list">
                        <li>

                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                        </li>
                        <li>

                            <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                        </li>
                        <li>

                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                        </li>
                        <li>

                            <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <span class="product-o__category">
                @foreach (var category in product.Categories)
                {
                    <a href="shop-side-version-2.html">@category.Title</a>

                }
            </span>

            <span class="product-o__name">

                <a href="product-detail.html">@product.Title</a>
            </span>
            <div class="product-o__rating gl-rating-style">
                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                <span class="product-o__review">(0)</span>
            </div>
            @if (product.DiscountPrice != null)
            {
                <span class="product-o__price">


                    $@product.DiscountPrice

                    <span class="product-o__discount">@product.Price</span>
                </span>

            }
            else
            {
                <span class="product-o__price">


                    $@product.Price


                </span>
            }
        </div>
    </div>
}